<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terraforming Mars Card Showcase</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Card Showcase</h1>
    
    <button id="play-music-btn">Play Music</button>

    <audio id="background-audio" src="{{ url_for('static', filename='SuperGalaxyRumble.mp3') }}" autoplay loop muted></audio>


    <div id="loading">Loading cards...</div>
    <div id="cards-container">
        {% for card in cards %}
        <div class="card-wrapper"
            data-production-box-size="{{ card.production[0].production_box_size if card.production and card.production[0].production_box_size is not none else '' }}">
            <div class="card" style="background-image: url('{{ card.image }}')">
                <div class="overlay">
                    <div class="header">
                        <div class="number">
                            {% if card.number != "N/A" %}
                                <div class="card-number">{{ card.number }}</div>
                            {% endif %}
                        </div>
                        <div class="price-container">
                            {% if card.price.image_url %}
                                <div class="price-icon" 
                                    style="background-image: url('{{ card.price.image_url }}')"
                                    title="{{ card.price.text }}">
                                </div>
                            {% endif %}
                            <div class="price-text">{{ card.price.text }}</div>
                        </div>
                        <div class="tag-container">
                            <div class="tags">
                            {% for tag in card.tags %}
                                <div class="tag" 
                                    style="background-image: url('{{ tag.image_url }}')"
                                    title="{{ tag.name }}">
                                </div>
                            {% endfor %}
                            </div>
                        </div>                        
                    </div>
                    <div class="title">{{ card.title }}</div>
                    <div class="content">
                        {% if card.requirements %}
                            <div class="requirements {% if 'requirements-max' in card.requirements.0.resource_name %}requirements-max{% endif %}" 
                                style="background-image: url('{{ card.requirements.0.requirements_image }}');"
                                title="{{ card.requirements.0.requirements }}">
                                {{ card.requirements.0.requirements }}
                            </div>
                        {% endif %} 
                        {% if card.production %}
                            <div class="{% if card.production.0.production_box_size %}{{ card.production.0.production_box_size }}{% else %}production-box{% endif %}" 
                            style="background-image: url('{{ card.production.0.production_box_image }}');">

                            {% set production = card.production.0 %}

                            {% for key, grouped in [('grouped_minus', production.grouped_minus), ('grouped_plus', production.grouped_plus), ('grouped_none', production.grouped_none)] %}
                                {% if grouped %}
                                    {% for prod_type, prods in grouped.items() %}
                                        <div class="production-container">
                                            {% if key != 'grouped_none' and prods[0].prefix_image_url %}
                                                <img class="prefix_icons" src="{{ prods[0].prefix_image_url }}" alt="{{ key }}">
                                            {% endif %}
                                            {% for prod in prods %}
                                                <span class="production-icon-container">
                                                    <img class="production-icon-name" src="{{ prod.type_image_url }}" alt="{{ prod.type }}">
                                                    {% if prod.type is mapping and prod.type.type == "money" %}
                                                        <div class="production-text-overlay">{{ prod.type.money_amount }}</div>
                                                    {% endif %}
                                                </span>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            </div>                            
                        {% endif %}

                        {% if card.tile_data %}
                            {% for tile in card.tile_data %}
                                <div class="{{ tile.tile_name ~ '-container' | default('tile-container') }}">
                                    <div class="{{ tile.tile_name | default('tile-icon') }}"                                    
                                        style="background-image: url('{{ tile.tile_image_url }}')"
                                        title="hi">                                    
                                    </div>
                                </div>                                
                            {% endfor %}
                        {% endif %}                     
                         

                        <div class="description">{{ card.descriptions }}</div>
                    </div>                                      

                    {% if card.points_resource %}
                        {% for pr in card.points_resource %}
                            <div class="points" style="background-image: url('{{ card.image }}');">
                                {{ pr.points }}
                                {% if pr.image_url %}
                                    <span class="resource-image {% if pr.resource == 'tag-jovian resource-tag' %}jovian{% endif %}" 
                                          style="background-image: url('{{ pr.image_url }}');"></span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
          
                </div>
            </div>
            
            <!-- Price container now outside the card but inside wrapper -->
            
        </div>
        {% endfor %}
    </div>
    <div id="error-message"></div>


   <script>
        const audio = document.getElementById('background-audio');
        const btn = document.getElementById('play-music-btn');

        btn.addEventListener('click', () => {
            if (audio.paused) {
                audio.muted = false;
                audio.volume = 0.2;
                audio.play();
                btn.textContent = 'Pause Music';
            } else {
                audio.pause();
                btn.textContent = 'Play Music';
            }
        });
    </script> 

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const cards = document.querySelectorAll('.card-wrapper');
            
            cards.forEach(cardWrapper => {
                // Check if the card has requirements
                const requirements = cardWrapper.querySelector('.requirements');
                
                // Check if the card contains a city tile
                const cityTileContainer = cardWrapper.querySelector('.city-tile-container');                
                const productionBoxSize = cardWrapper.getAttribute('data-production-box-size');

                if ((requirements || productionBoxSize) && cityTileContainer ) {
                    const cityTile = cityTileContainer.querySelector('.city-tile');
                    if (cityTile) {
                        // Add the margin-top style to the city-tile
                        cityTile.style.marginTop = '33px';
                        cityTile.style.marginLeft = '18px';                        
                        cityTile.style.left = '0px';
                    }
                }

                const numberElement = cardWrapper.querySelector('.card-number');
                const number = numberElement ? numberElement.textContent.trim() : null;
                
                if (number == "#008") {
                    const cityTile = cityTileContainer.querySelector('.city-tile');
                    cityTile.style.filter = 'None';
                    cityTile.style.width = '60px';
                    cityTile.style.height = '69px';
                    cityTile.style.marginTop = '10px';
                    cityTile.style.left = '-15px';
                }
            });

            // Hide loading message if cards are present
            const loadingElement = document.getElementById('loading');
            if (loadingElement && document.querySelectorAll('.card').length > 0) {
                loadingElement.style.display = 'none';
            }
        });
    </script>

</body>
</html>